<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
		<appSettings>
			<add key="BaseAddress" value="http://localhost:52469/" />

			<add key ="EmpAdd" value="Employee Detail Added"/>
			
			<add key ="EmpError" value="Name Can Not Take Special Charecter"/>
			
			<add key ="EmpError1" value="State name should be less than 10"/>

			<add key ="EmpError2" value="Name Should Be Less Than 10 Charecter"/>

			<add key ="EmpNoadd" value ="Failed to Add Employee Details"/>

			<add key ="EmpUpdate" value ="Employee Detail Updated"/>

			<add key ="EmpNoupdate" value ="Failed to Update Employee Details"/>

			<add key ="EmpDelete" value ="Employee Detail Deleted"/>

			<add key ="EmpNodelete" value="Failed to Delete Employee Details"/>

			<add key ="EmpConform" value ="Are you sure?"/>

			<add key ="EmpConformDel" value ="Delete Confirmation"/>
			
			<add key ="Add" value="Department Detail Added"/>

			<add key ="Noadd" value ="Failed to Add Department Details"/>

			<add key ="Update" value ="Department Detail Updated"/>

			<add key ="Noupdate" value ="Failed to Update Department Details"/>

			<add key ="Delete" value ="Department Detail Deleted"/>

			<add key ="Nodelete" value="Failed to Delete Department Details"/>

			<add key ="Conform" value ="Are you sure?"/>

			<add key ="ConformDel" value ="Delete Confirmation"/>
			
	    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>